@use '/src/styles/variables' as var;

.landing-section-background-overlay {
  background: linear-gradient(transparent 80%, var.$vpw-dark-blue);
}

.landing-section-background {
  background-image: url('/assets/img/lotr-bw.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var.$vpw-dark-blue-opaque;
  background-blend-mode: soft-light;
  //box-shadow: 0 0 0 12px var.$vpw-red-opaque inset;
  z-index: -1;
}

.globe-img {
  background-image: url("/assets/img/globe_5.svg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.img-scale {
  width: 100%;
  height: auto;
}
