@use '/src/styles/variables' as var;

.landing-section-background-overlay {
  background: linear-gradient(transparent 80%, var.$vpw-dark-blue);
}

.landing-section-background {
  background-image: url('/assets/img/lotr-bw.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var.$vpw-dark-blue-opaque;
  background-blend-mode: soft-light;
  //box-shadow: 0 0 0 12px var.$vpw-red-opaque inset;
  z-index: -1;
}

.globe-img {
  background-image: url("/assets/img/globe_5.svg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.img-scale {
  width: 100%;
  height: auto;
}

.carousel-3d {
  position: relative;
}

$carousel-item-width: 300px;
$carousel-item-spacing-hor: 30px;
$carousel-item-spacing-vert: 15px;
$item-amount: 3;

.carousel-3d-item {
  position: absolute;
  width: $carousel-item-width;
  height: $carousel-item-width * 1.78;
  transform: rotateX(20deg) rotateY(60deg);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border: 5px solid var.$vpw-darker-blue;

  @for $i from 1 through $item-amount {
    &:nth-child(#{$i}) {
      z-index: -$i;
      left: ($i - 1) * $carousel-item-spacing-hor;
      top: ($item-amount - $i) * $carousel-item-spacing-vert;
    }
  }
}
