<app-header></app-header>

<div class="container-fluid">
  <main>
    <div class="row landing-section-background-overlay">
      <div class="landing-section-background vh-120">
        <div
          class="offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 vh-100 d-flex justify-content-center align-items-center"
        >
          <img src="/assets/img/vpw-logo.png" alt="VPW logo" class="img-fluid">
        </div>
      </div>
    </div>

    <div class="row mt-10">
      <div class="col-md-4 offset-md-1 vh-100">
        <h2 class="big-title">The Future of Virtual Pinball</h2>
        <p class="display-text">We strive towards <span class="beige-text">re</span>creating the best virtual versions
          of
          pinball tables that Virtual
          Pinball can offer.</p>
        <a class="display-button" href="#">Discover our work →</a>
      </div>
    </div>
  </main>
</div>
