<app-layout>
  <div class="row landing-section-background-overlay">
    <div class="landing-section-background vh-120">
      <div
        class="offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 vh-100 d-flex justify-content-center align-items-center"
      >
        <img src="/assets/img/vpw-logo.png" alt="VPW logo" class="img-fluid">
      </div>
    </div>
  </div>

  <div class="row vh-100">
    <div class="col-md-4 offset-md-1 col-lg-2 offset-lg-2">
      <h2 class="big-title mt-10">The Future of Virtual Pinball</h2>
      <p class="display-text">
        We strive towards <span class="beige-text">re</span>creating the best virtual versions
        of pinball tables that Virtual Pinball can offer.
      </p>
      <a class="display-button" routerLink="/mission">Our mission →</a>
    </div>

    <div class="col-md-6 col-lg-5 col-xl-5 offset-xl-1 col-xxl-4">
      <img src="/assets/img/bm_side_view.png" alt="Blood Machines pinball cabinet render" class="img-scale">
    </div>
  </div>

  <div class="row mt-10">
    <div class="col-md-5">
      <div id="globe-svg" class="h-50"></div>
    </div>

    <div class="col-md-4 vh-100 offset-md-1 col-lg-2">
      <h2 class="big-title mt-10">A Dedicated Team</h2>
      <p class="display-text">
        Consisting out of more than 100 members from around the globe, each member brings his
        own skills and talents.
      </p>
    </div>
  </div>

  <div class="row vh-120">
    <div class="col-md-4 offset-md-2 col-lg-2 offset-lg-3">
      <h2 class="big-title mt-10">An Established Brand</h2>
      <p class="display-text">
        With over 30 released tables and even more work-in-progress ones, the VPW team is an established brand in VPin
        world.
      </p>
      <a class="display-button" href="#">Discover our work →</a>
    </div>

    <div class="col-md-5 offset-md-1 mt-5">
      <div class="carousel-3d">
        <img src="/assets/img/tables/tftc.jpg" alt="Tales From the Crypt screenshot" class="carousel-3d-item">
        <img src="/assets/img/tables/tommy.png" alt="The Who's Tommy screenshot" class="carousel-3d-item">
        <img src="/assets/img/tables/lotr.png" alt="Lord of the Rings screenshot" class="carousel-3d-item">
      </div>
    </div>
  </div>
</app-layout>
