<app-header></app-header>

<div class="container-fluid">
  <main>
    <div class="row landing-section-background-overlay">
      <div class="landing-section-background vh-120">
        <div
          class="offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6 vh-100 d-flex justify-content-center align-items-center"
        >
          <img src="/assets/img/vpw-logo.png" alt="VPW logo" class="img-fluid">
        </div>
      </div>
    </div>

    <div class="row vh-100">
      <div class="col-md-4 offset-md-1 col-lg-2 offset-lg-2">
        <h2 class="big-title mt-10">The Future of Virtual Pinball</h2>
        <p class="display-text">
          We strive towards <span class="beige-text">re</span>creating the best virtual versions
          of pinball tables that Virtual Pinball can offer.
        </p>
        <a class="display-button" href="#">Discover our work →</a>
      </div>

      <div class="col-md-6 col-lg-5 col-xl-5 offset-xl-1 col-xxl-4">
        <img src="/assets/img/bm_side_view.png" alt="Blood Machines pinball cabinet render" class="img-scale">
      </div>
    </div>

    <div class="row vh-100 mt-10">
      <div class="col-md-5 globe-img"></div>

      <div class="col-md-4 offset-md-1 col-lg-2">
        <h2 class="big-title mt-10">A Dedicated Team</h2>
        <p class="display-text">
          Consisting out of more than 100 members from around the globe, each member brings his
          own skills and talents.
        </p>
        <a class="display-button" href="#">Meet the team →</a>
      </div>
    </div>

    <div class="row vh-100">
      <div class="col-md-5"></div>

      <div class="col-md-4 offset-md-1 col-lg-2">
        <h2 class="big-title mt-10">Driven by excellence</h2>
        <p class="display-text">
          Our mission is driven by a passion for opensource and quality.
        </p>
        <a class="display-button" href="#">Our mission →</a>
      </div>
    </div>
  </main>
</div>

<app-footer></app-footer>
