<app-layout>
  <div class="row mt-10">
    <div class="col-md-5 offset-md-2">
      <h2 class="big-title">Admins</h2>
    </div>

    <div class="col-md-2">
      <app-circle-container>Iaakki</app-circle-container>
    </div>

    <div class="col-md-2">
      <app-circle-container>Benji</app-circle-container>
    </div>

    <div class="col-md-2">
      <app-circle-container>Sixtoe</app-circle-container>
    </div>

    <div class="col-md-2">
      <app-circle-container>hawkeyez88</app-circle-container>
    </div>

    <div class="col-md-2 offset-md-2">
      <app-circle-container>bord</app-circle-container>
    </div>

    <div class="col-md-2 offset-md-3">
      <app-circle-container>daphishbowl</app-circle-container>
    </div>
  </div>

  <div class="row mt-5 mb-5">
    <div class="col-md-4 offset-md-8">
      <h2 class="big-title">Coders</h2>
    </div>

    <div class="col-md-2 offset-md-4">
      <app-circle-container>placeholder</app-circle-container>
    </div>

    <div class="col-md-2">
      <app-circle-container>placeholder</app-circle-container>
    </div>

    <div class="col-md-2 offset-md-2">
      <app-circle-container>placeholder</app-circle-container>
    </div>

    <div class="col-md-2 offset-md-3">
      <app-circle-container>placeholder</app-circle-container>
    </div>

    <div class="col-md-2 offset-md-2">
      <app-circle-container>placeholder</app-circle-container>
    </div>

    <div class="col-md-2 offset-md-2">
      <app-circle-container>placeholder</app-circle-container>
    </div>

    <div class="col-md-2">
      <app-circle-container>placeholder</app-circle-container>
    </div>

    <div class="col-md-2 offset-md-4">
      <app-circle-container>placeholder</app-circle-container>
    </div>

    <div class="col-md-2 offset-md-7">
      <app-circle-container>placeholder</app-circle-container>
    </div>

    <div class="col-md-2">
      <app-circle-container>placeholder</app-circle-container>
    </div>
  </div>
</app-layout>
