<app-layout>
  <div class="row mt-10">
    <div class="col-md-3 offset-md-1">
      <h2 class="big-title">Our Work</h2>
      <p class="display-text">
        An anthology of our releases.
      </p>
      <p class="display-text">
        For the current overview of all release, take a look at the <a
        href="https://vpuniverse.com/profile/40692-vpinworkshop/" target="_blank" rel="noopener">
        VPW profile on VPUniverse</a>.
      </p>
    </div>

    <div class="col-md-2 offset-md-1">
      <img src="/assets/img/tables/tftc.jpg" alt="Tales From The Crypt screenshot" class="img-fluid">
    </div>

    <div class="col-md-2 offset-md-1">
      <a href="https://vpuniverse.com/files/file/10193-the-whos-tommy-pinball-wizard-data-east-1994-vpwmod/">
        <img src="/assets/img/tables/tommy.png" alt="Tommy screenshot" class="img-fluid">
      </a>
    </div>
  </div>
</app-layout>
